body #root,
body[theme-mode="dark"] .semi-always-light #root,
:host #root,
:host .semi-always-light #root {
  --semi-black: 0, 0, 0;
  --semi-red-0: 255, 241, 239;
  --semi-red-1: 255, 219, 212;
  --semi-red-2: 255, 179, 169;
  --semi-red-3: 255, 137, 125;
  --semi-red-4: 255, 92, 82;
  --semi-red-5: 255, 44, 39;
  --semi-red-6: 219, 27, 29;
  --semi-red-7: 184, 17, 24;
  --semi-red-8: 148, 9, 20;
  --semi-red-9: 112, 4, 16;
  --semi-white: 255, 255, 255;
  --semi-blue-0: 235, 247, 255;
  --semi-blue-1: 205, 234, 255;
  --semi-blue-2: 156, 211, 255;
  --semi-blue-3: 106, 187, 255;
  --semi-blue-4: 57, 161, 255;
  --semi-blue-5: 7, 133, 255;
  --semi-blue-6: 0, 108, 219;
  --semi-blue-7: 0, 87, 184;
  --semi-blue-8: 0, 68, 148;
  --semi-blue-9: 0, 50, 112;
  --semi-cyan-0: 232, 250, 250;
  --semi-cyan-1: 199, 246, 245;
  --semi-cyan-2: 147, 235, 236;
  --semi-cyan-3: 98, 223, 227;
  --semi-cyan-4: 53, 210, 217;
  --semi-cyan-5: 11, 196, 208;
  --semi-cyan-6: 7, 160, 173;
  --semi-cyan-7: 5, 126, 139;
  --semi-cyan-8: 2, 93, 104;
  --semi-cyan-9: 1, 61, 69;
  --semi-grey-0: 249, 249, 249;
  --semi-grey-1: 230, 230, 234;
  --semi-grey-2: 198, 198, 205;
  --semi-grey-3: 167, 167, 176;
  --semi-grey-4: 137, 136, 146;
  --semi-grey-5: 108, 107, 117;
  --semi-grey-6: 87, 85, 97;
  --semi-grey-7: 67, 65, 76;
  --semi-grey-8: 47, 46, 56;
  --semi-grey-9: 29, 28, 35;
  --semi-lime-0: 247, 253, 234;
  --semi-lime-1: 237, 252, 203;
  --semi-lime-2: 223, 248, 151;
  --semi-lime-3: 212, 245, 102;
  --semi-lime-4: 204, 241, 53;
  --semi-lime-5: 200, 238, 6;
  --semi-lime-6: 163, 198, 3;
  --semi-lime-7: 128, 159, 1;
  --semi-lime-8: 94, 119, 0;
  --semi-lime-9: 61, 79, 0;
  --semi-pink-0: 255, 239, 244;
  --semi-pink-1: 255, 212, 228;
  --semi-pink-2: 255, 169, 204;
  --semi-pink-3: 255, 125, 182;
  --semi-pink-4: 255, 82, 164;
  --semi-pink-5: 255, 39, 148;
  --semi-pink-6: 219, 27, 130;
  --semi-pink-7: 184, 17, 112;
  --semi-pink-8: 148, 9, 93;
  --semi-pink-9: 112, 4, 73;
  --semi-teal-0: 229, 248, 242;
  --semi-teal-1: 195, 242, 226;
  --semi-teal-2: 140, 229, 201;
  --semi-teal-3: 90, 215, 178;
  --semi-teal-4: 45, 202, 158;
  --semi-teal-5: 5, 189, 141;
  --semi-teal-6: 3, 158, 120;
  --semi-teal-7: 1, 126, 98;
  --semi-teal-8: 0, 95, 75;
  --semi-teal-9: 0, 63, 51;
  --semi-amber-0: 255, 250, 237;
  --semi-amber-1: 255, 242, 210;
  --semi-amber-2: 255, 227, 164;
  --semi-amber-3: 255, 208, 119;
  --semi-amber-4: 255, 187, 73;
  --semi-amber-5: 255, 162, 28;
  --semi-amber-6: 213, 125, 21;
  --semi-amber-7: 170, 91, 15;
  --semi-amber-8: 128, 62, 10;
  --semi-amber-9: 85, 37, 6;
  --semi-brand-0: 244, 243, 255;
  --semi-brand-1: 223, 221, 255;
  --semi-brand-2: 193, 187, 255;
  --semi-brand-3: 163, 152, 255;
  --semi-brand-4: 135, 118, 255;
  --semi-brand-5: 108, 84, 255;
  --semi-brand-6: 90, 66, 219;
  --semi-brand-7: 73, 49, 184;
  --semi-brand-8: 57, 35, 148;
  --semi-brand-9: 42, 23, 112;
  --semi-green-0: 239, 249, 238;
  --semi-green-1: 214, 243, 211;
  --semi-green-2: 175, 231, 170;
  --semi-green-3: 138, 218, 133;
  --semi-green-4: 103, 206, 98;
  --semi-green-5: 71, 194, 67;
  --semi-green-6: 56, 162, 54;
  --semi-green-7: 42, 129, 42;
  --semi-green-8: 31, 97, 32;
  --semi-green-9: 20, 65, 21;
  --semi-indigo-0: 239, 242, 250;
  --semi-indigo-1: 213, 223, 245;
  --semi-indigo-2: 174, 191, 235;
  --semi-indigo-3: 138, 160, 226;
  --semi-indigo-4: 104, 131, 216;
  --semi-indigo-5: 72, 102, 206;
  --semi-indigo-6: 54, 78, 170;
  --semi-indigo-7: 39, 57, 135;
  --semi-indigo-8: 26, 38, 99;
  --semi-indigo-9: 15, 22, 63;
  --semi-orange-0: 255, 247, 235;
  --semi-orange-1: 255, 234, 205;
  --semi-orange-2: 255, 211, 156;
  --semi-orange-3: 255, 183, 106;
  --semi-orange-4: 255, 153, 57;
  --semi-orange-5: 255, 119, 7;
  --semi-orange-6: 219, 88, 0;
  --semi-orange-7: 184, 65, 0;
  --semi-orange-8: 148, 45, 0;
  --semi-orange-9: 112, 28, 0;
  --semi-purple-0: 248, 236, 250;
  --semi-purple-1: 240, 207, 244;
  --semi-purple-2: 223, 163, 233;
  --semi-purple-3: 204, 122, 223;
  --semi-purple-4: 184, 84, 212;
  --semi-purple-5: 163, 49, 201;
  --semi-purple-6: 140, 39, 181;
  --semi-purple-7: 119, 29, 160;
  --semi-purple-8: 98, 21, 140;
  --semi-purple-9: 79, 15, 119;
  --semi-violet-0: 242, 240, 252;
  --semi-violet-1: 221, 215, 249;
  --semi-violet-2: 189, 176, 244;
  --semi-violet-3: 160, 139, 238;
  --semi-violet-4: 133, 104, 233;
  --semi-violet-5: 108, 70, 227;
  --semi-violet-6: 89, 53, 191;
  --semi-violet-7: 71, 39, 156;
  --semi-violet-8: 54, 26, 120;
  --semi-violet-9: 37, 16, 84;
  --semi-yellow-0: 255, 254, 235;
  --semi-yellow-1: 255, 251, 205;
  --semi-yellow-2: 255, 243, 156;
  --semi-yellow-3: 255, 233, 106;
  --semi-yellow-4: 255, 218, 57;
  --semi-yellow-5: 255, 201, 7;
  --semi-yellow-6: 213, 157, 4;
  --semi-yellow-7: 170, 116, 1;
  --semi-yellow-8: 128, 81, 0;
  --semi-yellow-9: 85, 49, 0;
  --semi-light-blue-0: 235, 250, 255;
  --semi-light-blue-1: 205, 243, 255;
  --semi-light-blue-2: 156, 228, 255;
  --semi-light-blue-3: 106, 213, 255;
  --semi-light-blue-4: 57, 195, 255;
  --semi-light-blue-5: 7, 176, 255;
  --semi-light-blue-6: 4, 143, 213;
  --semi-light-blue-7: 1, 111, 170;
  --semi-light-blue-8: 0, 81, 128;
  --semi-light-blue-9: 0, 52, 85;
  --semi-light-green-0: 246, 250, 239;
  --semi-light-green-1: 234, 246, 213;
  --semi-light-green-2: 212, 236, 174;
  --semi-light-green-3: 191, 227, 138;
  --semi-light-green-4: 169, 217, 104;
  --semi-light-green-5: 148, 208, 72;
  --semi-light-green-6: 121, 173, 58;
  --semi-light-green-7: 94, 139, 45;
  --semi-light-green-8: 69, 104, 33;
  --semi-light-green-9: 45, 69, 21;
}
body[theme-mode="dark"] #root,
body .semi-always-dark #root,
:host([theme-mode="dark"]) #root,
:host .semi-always-dark #root {
  --semi-black: 0, 0, 0;
  --semi-red-0: 112, 4, 16;
  --semi-red-1: 148, 9, 20;
  --semi-red-2: 184, 17, 24;
  --semi-red-3: 219, 27, 29;
  --semi-red-4: 255, 44, 39;
  --semi-red-5: 255, 92, 82;
  --semi-red-6: 255, 137, 125;
  --semi-red-7: 255, 179, 169;
  --semi-red-8: 255, 219, 212;
  --semi-red-9: 255, 241, 239;
  --semi-white: 255, 255, 255;
  --semi-blue-0: 0, 50, 112;
  --semi-blue-1: 0, 68, 148;
  --semi-blue-2: 0, 87, 184;
  --semi-blue-3: 0, 108, 219;
  --semi-blue-4: 7, 133, 255;
  --semi-blue-5: 57, 161, 255;
  --semi-blue-6: 106, 187, 255;
  --semi-blue-7: 156, 211, 255;
  --semi-blue-8: 205, 234, 255;
  --semi-blue-9: 235, 247, 255;
  --semi-cyan-0: 1, 61, 69;
  --semi-cyan-1: 2, 93, 104;
  --semi-cyan-2: 5, 126, 139;
  --semi-cyan-3: 7, 160, 173;
  --semi-cyan-4: 11, 196, 208;
  --semi-cyan-5: 53, 210, 217;
  --semi-cyan-6: 98, 223, 227;
  --semi-cyan-7: 147, 235, 236;
  --semi-cyan-8: 199, 246, 245;
  --semi-cyan-9: 232, 250, 250;
  --semi-grey-0: 29, 28, 35;
  --semi-grey-1: 47, 46, 56;
  --semi-grey-2: 67, 65, 76;
  --semi-grey-3: 87, 85, 97;
  --semi-grey-4: 108, 107, 117;
  --semi-grey-5: 137, 136, 146;
  --semi-grey-6: 167, 167, 176;
  --semi-grey-7: 198, 198, 205;
  --semi-grey-8: 230, 230, 234;
  --semi-grey-9: 249, 249, 249;
  --semi-lime-0: 61, 79, 0;
  --semi-lime-1: 94, 119, 0;
  --semi-lime-2: 128, 159, 1;
  --semi-lime-3: 163, 198, 3;
  --semi-lime-4: 200, 238, 6;
  --semi-lime-5: 204, 241, 53;
  --semi-lime-6: 212, 245, 102;
  --semi-lime-7: 223, 248, 151;
  --semi-lime-8: 237, 252, 203;
  --semi-lime-9: 247, 253, 234;
  --semi-pink-0: 112, 4, 73;
  --semi-pink-1: 148, 9, 93;
  --semi-pink-2: 184, 17, 112;
  --semi-pink-3: 219, 27, 130;
  --semi-pink-4: 255, 39, 148;
  --semi-pink-5: 255, 82, 164;
  --semi-pink-6: 255, 125, 182;
  --semi-pink-7: 255, 169, 204;
  --semi-pink-8: 255, 212, 228;
  --semi-pink-9: 255, 239, 244;
  --semi-teal-0: 0, 63, 51;
  --semi-teal-1: 0, 95, 75;
  --semi-teal-2: 1, 126, 98;
  --semi-teal-3: 3, 158, 120;
  --semi-teal-4: 5, 189, 141;
  --semi-teal-5: 45, 202, 158;
  --semi-teal-6: 90, 215, 178;
  --semi-teal-7: 140, 229, 201;
  --semi-teal-8: 195, 242, 226;
  --semi-teal-9: 229, 248, 242;
  --semi-amber-0: 85, 37, 6;
  --semi-amber-1: 128, 62, 10;
  --semi-amber-2: 170, 91, 15;
  --semi-amber-3: 213, 125, 21;
  --semi-amber-4: 255, 162, 28;
  --semi-amber-5: 255, 187, 73;
  --semi-amber-6: 255, 208, 119;
  --semi-amber-7: 255, 227, 164;
  --semi-amber-8: 255, 242, 210;
  --semi-amber-9: 255, 250, 237;
  --semi-brand-0: 42, 23, 112;
  --semi-brand-1: 57, 35, 148;
  --semi-brand-2: 73, 49, 184;
  --semi-brand-3: 90, 66, 219;
  --semi-brand-4: 108, 84, 255;
  --semi-brand-5: 135, 118, 255;
  --semi-brand-6: 163, 152, 255;
  --semi-brand-7: 193, 187, 255;
  --semi-brand-8: 223, 221, 255;
  --semi-brand-9: 244, 243, 255;
  --semi-green-0: 20, 65, 21;
  --semi-green-1: 31, 97, 32;
  --semi-green-2: 42, 129, 42;
  --semi-green-3: 56, 162, 54;
  --semi-green-4: 71, 194, 67;
  --semi-green-5: 103, 206, 98;
  --semi-green-6: 138, 218, 133;
  --semi-green-7: 175, 231, 170;
  --semi-green-8: 214, 243, 211;
  --semi-green-9: 239, 249, 238;
  --semi-indigo-0: 15, 22, 63;
  --semi-indigo-1: 26, 38, 99;
  --semi-indigo-2: 39, 57, 135;
  --semi-indigo-3: 54, 78, 170;
  --semi-indigo-4: 72, 102, 206;
  --semi-indigo-5: 104, 131, 216;
  --semi-indigo-6: 138, 160, 226;
  --semi-indigo-7: 174, 191, 235;
  --semi-indigo-8: 213, 223, 245;
  --semi-indigo-9: 239, 242, 250;
  --semi-orange-0: 112, 28, 0;
  --semi-orange-1: 148, 45, 0;
  --semi-orange-2: 184, 65, 0;
  --semi-orange-3: 219, 88, 0;
  --semi-orange-4: 255, 119, 7;
  --semi-orange-5: 255, 153, 57;
  --semi-orange-6: 255, 183, 106;
  --semi-orange-7: 255, 211, 156;
  --semi-orange-8: 255, 234, 205;
  --semi-orange-9: 255, 247, 235;
  --semi-purple-0: 79, 15, 119;
  --semi-purple-1: 98, 21, 140;
  --semi-purple-2: 119, 29, 160;
  --semi-purple-3: 140, 39, 181;
  --semi-purple-4: 163, 49, 201;
  --semi-purple-5: 184, 84, 212;
  --semi-purple-6: 204, 122, 223;
  --semi-purple-7: 223, 163, 233;
  --semi-purple-8: 240, 207, 244;
  --semi-purple-9: 248, 236, 250;
  --semi-violet-0: 37, 16, 84;
  --semi-violet-1: 54, 26, 120;
  --semi-violet-2: 71, 39, 156;
  --semi-violet-3: 89, 53, 191;
  --semi-violet-4: 108, 70, 227;
  --semi-violet-5: 133, 104, 233;
  --semi-violet-6: 160, 139, 238;
  --semi-violet-7: 189, 176, 244;
  --semi-violet-8: 221, 215, 249;
  --semi-violet-9: 242, 240, 252;
  --semi-yellow-0: 85, 49, 0;
  --semi-yellow-1: 128, 81, 0;
  --semi-yellow-2: 170, 116, 1;
  --semi-yellow-3: 213, 157, 4;
  --semi-yellow-4: 255, 201, 7;
  --semi-yellow-5: 255, 218, 57;
  --semi-yellow-6: 255, 233, 106;
  --semi-yellow-7: 255, 243, 156;
  --semi-yellow-8: 255, 251, 205;
  --semi-yellow-9: 255, 254, 235;
  --semi-light-blue-0: 0, 52, 85;
  --semi-light-blue-1: 0, 81, 128;
  --semi-light-blue-2: 1, 111, 170;
  --semi-light-blue-3: 4, 143, 213;
  --semi-light-blue-4: 7, 176, 255;
  --semi-light-blue-5: 57, 195, 255;
  --semi-light-blue-6: 106, 213, 255;
  --semi-light-blue-7: 156, 228, 255;
  --semi-light-blue-8: 205, 243, 255;
  --semi-light-blue-9: 235, 250, 255;
  --semi-light-green-0: 45, 69, 21;
  --semi-light-green-1: 69, 104, 33;
  --semi-light-green-2: 94, 139, 45;
  --semi-light-green-3: 121, 173, 58;
  --semi-light-green-4: 148, 208, 72;
  --semi-light-green-5: 169, 217, 104;
  --semi-light-green-6: 191, 227, 138;
  --semi-light-green-7: 212, 236, 174;
  --semi-light-green-8: 234, 246, 213;
  --semi-light-green-9: 246, 250, 239;
}

body #root,
body[theme-mode="dark"] .semi-always-light #root,
:host #root,
:host .semi-always-light #root {
  --semi-color-bg-0: rgba(var(--semi-white), 1);
  --semi-color-bg-1: rgba(var(--semi-white), 1);
  --semi-color-bg-2: rgba(var(--semi-white), 1);
  --semi-color-bg-3: rgba(var(--semi-white), 1);
  --semi-color-bg-4: rgba(var(--semi-white), 1);
  --semi-color-info: rgba(var(--semi-blue-5), 1);
  --semi-color-link: rgba(var(--semi-blue-5), 1);
  --semi-color-nav-bg: rgba(var(--semi-white), 1);
  --semi-color-black: rgba(var(--semi-black), 1);
  --semi-color-data-0: rgba(87, 105, 255, 1);
  --semi-color-data-1: rgba(142, 212, 231, 1);
  --semi-color-data-2: rgba(245, 135, 0, 1);
  --semi-color-data-3: rgba(220, 183, 252, 1);
  --semi-color-data-4: rgba(74, 156, 247, 1);
  --semi-color-data-5: rgba(243, 204, 53, 1);
  --semi-color-data-6: rgba(254, 128, 144, 1);
  --semi-color-data-7: rgba(139, 215, 210, 1);
  --semi-color-data-8: rgba(131, 176, 35, 1);
  --semi-color-data-9: rgba(233, 165, 229, 1);
  --semi-color-fill-0: rgba(var(--semi-grey-8), 0.05);
  --semi-color-fill-1: rgba(var(--semi-grey-8), 0.09);
  --semi-color-fill-2: rgba(var(--semi-grey-8), 0.13);
  --semi-color-text-0: rgba(var(--semi-grey-9), 1);
  --semi-color-text-1: rgba(var(--semi-grey-9), 0.8);
  --semi-color-text-2: rgba(var(--semi-grey-9), 0.6);
  --semi-color-text-3: rgba(var(--semi-grey-9), 0.35);
  --semi-color-white: rgba(var(--semi-white), 1);
  --semi-color-data-10: rgba(48, 167, 206, 1);
  --semi-color-data-11: rgba(249, 192, 100, 1);
  --semi-color-data-12: rgba(177, 113, 249, 1);
  --semi-color-data-13: rgba(119, 182, 249, 1);
  --semi-color-data-14: rgba(200, 143, 2, 1);
  --semi-color-data-15: rgba(255, 170, 178, 1);
  --semi-color-data-16: rgba(51, 176, 171, 1);
  --semi-color-data-17: rgba(182, 215, 129, 1);
  --semi-color-data-18: rgba(212, 88, 212, 1);
  --semi-color-data-19: rgba(188, 198, 255, 1);
  --semi-color-border: rgba(var(--semi-grey-9), 0.08);
  --semi-color-danger: rgba(var(--semi-red-5), 1);
  --semi-color-shadow: rgba(var(--semi-black), 0.04);
  --semi-color-default: rgba(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-primary: rgba(var(--semi-brand-5), 1);
  --semi-color-success: rgba(var(--semi-green-5), 1);
  --semi-color-warning: rgba(var(--semi-orange-5), 1);
  --semi-color-info-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-visited: rgba(var(--semi-blue-5), 1);
  --semi-color-tertiary: rgba(var(--semi-grey-5), 1);
  --semi-color-focus-border: rgba(var(--semi-brand-5), 1);
  --semi-color-info-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --semi-color-danger-hover: rgba(var(--semi-red-6), 1);
  --semi-color-highlight: rgba(var(--semi-black), 1);
  --semi-color-secondary: rgba(var(--semi-light-blue-5), 1);
  --semi-color-danger-active: rgba(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgba(var(--semi-grey-1), 1);
  --semi-color-default-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgba(var(--semi-brand-6), 1);
  --semi-color-success-hover: rgba(var(--semi-green-6), 1);
  --semi-color-warning-hover: rgba(var(--semi-orange-6), 1);
  --semi-color-default-active: rgba(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgba(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgba(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgba(var(--semi-yellow-4), 1);
  --semi-color-primary-active: rgba(var(--semi-brand-7), 1);
  --semi-color-success-active: rgba(var(--semi-green-7), 1);
  --semi-color-warning-active: rgba(var(--semi-orange-7), 1);
  --semi-color-tertiary-hover: rgba(var(--semi-grey-6), 1);
  --semi-color-disabled-border: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-disabled: rgba(var(--semi-brand-2), 1);
  --semi-color-success-disabled: rgba(var(--semi-green-2), 1);
  --semi-color-tertiary-active: rgba(var(--semi-grey-7), 1);
  --semi-color-secondary-hover: rgba(var(--semi-light-blue-6), 1);
  --semi-color-secondary-active: rgba(var(--semi-light-blue-7), 1);
  --semi-color-info-light-hover: rgba(var(--semi-blue-1), 1);
  --semi-color-info-light-active: rgba(var(--semi-blue-2), 1);
  --semi-color-secondary-disabled: rgba(var(--semi-light-blue-2), 1);
  --semi-color-info-light-default: rgba(var(--semi-blue-0), 1);
  --semi-color-danger-light-hover: rgba(var(--semi-red-1), 1);
  --semi-color-danger-light-active: rgba(var(--semi-red-2), 1);
  --semi-color-danger-light-default: rgba(var(--semi-red-0), 1);
  --semi-color-primary-light-hover: rgba(var(--semi-brand-1), 1);
  --semi-color-success-light-hover: rgba(var(--semi-green-1), 1);
  --semi-color-warning-light-hover: rgba(var(--semi-orange-1), 1);
  --semi-color-primary-light-active: rgba(var(--semi-brand-2), 1);
  --semi-color-success-light-active: rgba(var(--semi-green-2), 1);
  --semi-color-warning-light-active: rgba(var(--semi-orange-2), 1);
  --semi-color-primary-light-default: rgba(var(--semi-brand-0), 1);
  --semi-color-success-light-default: rgba(var(--semi-green-0), 1);
  --semi-color-tertiary-light-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-warning-light-default: rgba(var(--semi-orange-0), 1);
  --semi-color-tertiary-light-active: rgba(var(--semi-grey-2), 1);
  --semi-color-secondary-light-hover: rgba(var(--semi-blue-1), 1);
  --semi-color-tertiary-light-default: rgba(var(--semi-grey-0), 1);
  --semi-color-secondary-light-active: rgba(var(--semi-blue-2), 1);
  --semi-color-secondary-light-default: rgba(var(--semi-light-blue-0), 1);
  -webkit-font-smoothing: antialiased;
  --semi-shadow-elevated:
    0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2:
    0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --semi-shadow-knob:
    0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 24px;
  --semi-border-radius-small: 12px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 18px;
  --semi-border-radius-extra-small: 8px;
}

body[theme-mode="dark"] #root,
body .semi-always-dark #root,
:host([theme-mode="dark"]) #root,
:host .semi-always-dark #root {
  --semi-color-bg-0: rgba(22, 22, 26, 1);
  --semi-color-bg-1: rgba(35, 36, 41, 1);
  --semi-color-bg-2: rgba(53, 54, 60, 1);
  --semi-color-bg-3: rgba(67, 68, 74, 1);
  --semi-color-bg-4: rgba(79, 81, 89, 1);
  --semi-color-info: rgba(var(--semi-blue-5), 1);
  --semi-color-link: rgba(var(--semi-blue-5), 1);
  --semi-color-nav-bg: rgba(35, 36, 41, 1);
  --semi-color-black: rgba(var(--semi-black), 1);
  --semi-color-data-0: rgba(94, 109, 194, 1);
  --semi-color-data-1: rgba(8, 104, 120, 1);
  --semi-color-data-2: rgba(250, 173, 63, 1);
  --semi-color-data-3: rgba(76, 43, 156, 1);
  --semi-color-data-4: rgba(16, 125, 248, 1);
  --semi-color-data-5: rgba(248, 202, 16, 1);
  --semi-color-data-6: rgba(195, 30, 87, 1);
  --semi-color-data-7: rgba(5, 119, 115, 1);
  --semi-color-data-8: rgba(154, 207, 13, 1);
  --semi-color-data-9: rgba(117, 29, 138, 1);
  --semi-color-fill-0: rgba(var(--semi-white), 0.05);
  --semi-color-fill-1: rgba(var(--semi-white), 0.09);
  --semi-color-fill-2: rgba(var(--semi-white), 0.13);
  --semi-color-text-0: rgba(var(--semi-grey-9), 1);
  --semi-color-text-1: rgba(var(--semi-grey-9), 0.8);
  --semi-color-text-2: rgba(var(--semi-grey-9), 0.6);
  --semi-color-text-3: rgba(var(--semi-grey-9), 0.35);
  --semi-color-white: rgba(228, 231, 245, 1);
  --semi-color-data-10: rgba(16, 162, 180, 1);
  --semi-color-data-11: rgba(208, 110, 11, 1);
  --semi-color-data-12: rgba(113, 66, 197, 1);
  --semi-color-data-13: rgba(7, 100, 212, 1);
  --semi-color-data-14: rgba(251, 232, 110, 1);
  --semi-color-data-15: rgba(160, 19, 73, 1);
  --semi-color-data-16: rgba(11, 179, 167, 1);
  --semi-color-data-17: rgba(98, 138, 6, 1);
  --semi-color-data-18: rgba(162, 48, 179, 1);
  --semi-color-data-19: rgba(40, 51, 138, 1);
  --semi-color-border: rgba(var(--semi-white), 0.08);
  --semi-color-danger: rgba(var(--semi-red-5), 1);
  --semi-color-shadow: rgba(var(--semi-black), 0.04);
  --semi-color-default: rgba(var(--semi-grey-0), 1);
  --semi-color-info-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-link-hover: rgba(var(--semi-blue-6), 1);
  --semi-color-primary: rgba(var(--semi-brand-5), 1);
  --semi-color-success: rgba(var(--semi-green-5), 1);
  --semi-color-warning: rgba(var(--semi-orange-5), 1);
  --semi-color-info-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-active: rgba(var(--semi-blue-7), 1);
  --semi-color-link-visited: rgba(var(--semi-blue-5), 1);
  --semi-color-tertiary: rgba(var(--semi-grey-5), 1);
  --semi-color-focus-border: rgba(var(--semi-brand-5), 1);
  --semi-color-info-disabled: rgba(var(--semi-blue-2), 1);
  --semi-color-overlay-bg: rgba(22, 22, 26, 0.6);
  --semi-color-danger-hover: rgba(var(--semi-red-6), 1);
  --semi-color-highlight: rgba(var(--semi-white), 1);
  --semi-color-secondary: rgba(var(--semi-light-blue-5), 1);
  --semi-color-danger-active: rgba(var(--semi-red-7), 1);
  --semi-color-disabled-bg: rgba(var(--semi-grey-1), 1);
  --semi-color-default-hover: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-hover: rgba(var(--semi-brand-6), 1);
  --semi-color-success-hover: rgba(var(--semi-green-6), 1);
  --semi-color-warning-hover: rgba(var(--semi-orange-6), 1);
  --semi-color-default-active: rgba(var(--semi-grey-2), 1);
  --semi-color-disabled-fill: rgba(var(--semi-grey-8), 0.04);
  --semi-color-disabled-text: rgba(var(--semi-grey-9), 0.35);
  --semi-color-highlight-bg: rgba(var(--semi-yellow-2), 1);
  --semi-color-primary-active: rgba(var(--semi-brand-7), 1);
  --semi-color-success-active: rgba(var(--semi-green-7), 1);
  --semi-color-warning-active: rgba(var(--semi-orange-7), 1);
  --semi-color-tertiary-hover: rgba(var(--semi-grey-6), 1);
  --semi-color-disabled-border: rgba(var(--semi-grey-1), 1);
  --semi-color-primary-disabled: rgba(var(--semi-brand-2), 1);
  --semi-color-success-disabled: rgba(var(--semi-green-2), 1);
  --semi-color-tertiary-active: rgba(var(--semi-grey-7), 1);
  --semi-color-secondary-hover: rgba(var(--semi-light-blue-6), 1);
  --semi-color-secondary-active: rgba(var(--semi-light-blue-7), 1);
  --semi-color-info-light-hover: rgba(var(--semi-blue-5), 0.3);
  --semi-color-info-light-active: rgba(var(--semi-blue-5), 0.4);
  --semi-color-secondary-disabled: rgba(var(--semi-light-blue-2), 1);
  --semi-color-info-light-default: rgba(var(--semi-blue-5), 0.2);
  --semi-color-danger-light-hover: rgba(var(--semi-red-5), 0.3);
  --semi-color-danger-light-active: rgba(var(--semi-red-5), 0.4);
  --semi-color-danger-light-default: rgba(var(--semi-red-5), 0.2);
  --semi-color-primary-light-hover: rgba(var(--semi-brand-5), 0.3);
  --semi-color-success-light-hover: rgba(var(--semi-green-5), 0.3);
  --semi-color-warning-light-hover: rgba(var(--semi-orange-5), 0.3);
  --semi-color-primary-light-active: rgba(var(--semi-brand-5), 0.4);
  --semi-color-success-light-active: rgba(var(--semi-green-5), 0.4);
  --semi-color-warning-light-active: rgba(var(--semi-orange-5), 0.4);
  --semi-color-primary-light-default: rgba(var(--semi-brand-5), 0.2);
  --semi-color-success-light-default: rgba(var(--semi-green-5), 0.2);
  --semi-color-tertiary-light-hover: rgba(var(--semi-grey-5), 0.3);
  --semi-color-warning-light-default: rgba(var(--semi-orange-5), 0.2);
  --semi-color-tertiary-light-active: rgba(var(--semi-grey-5), 0.4);
  --semi-color-secondary-light-hover: rgba(var(--semi-light-blue-5), 0.3);
  --semi-color-tertiary-light-default: rgba(var(--semi-grey-5), 0.2);
  --semi-color-secondary-light-active: rgba(var(--semi-light-blue-5), 0.4);
  --semi-color-secondary-light-default: rgba(var(--semi-light-blue-5), 0.2);
  -webkit-font-smoothing: antialiased;
  --semi-shadow-elevated:
    0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  --semi-shadow-0: none;
  --semi-shadow-1: none;
  --semi-shadow-2:
    0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --semi-shadow-knob:
    0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 24px;
  --semi-border-radius-small: 12px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 18px;
  --semi-border-radius-extra-small: 8px;
}
