@import "tailwindcss";

body,
#root {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
  font-family:
    "HarmonyOS Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  --semi-border-radius-full: 9999px;
  --semi-border-radius-large: 24px;
  --semi-border-radius-small: 12px;
  --semi-border-radius-circle: 50%;
  --semi-border-radius-medium: 18px;
  --semi-border-radius-extra-small: 8px;
}

#root .semi-typography,
#root .semi-input-default,
#root .semi-form-field-label {
  font-family:
    "HarmonyOS Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
